NEXT_PUBLIC_SUPABASE_URL=https://jzqfjmthvjdqaazwluro.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

RESEND_API_KEY=
NODEMAILER_GOOGLE_CLIENT_ID=
NODEMAILER_GOOGLE_CLIENT_SECRET=
NODEMAILER_GOOGLE_REFRESH_TOKEN=
TARGET_EMAIL=